html {
    background: black;
}

body {
    color: #231F20;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font: 'Montserrat';
    font-weight: 400;
    line-height: 1.65;
    padding:5%;
}

h1 { /*title*/
    font-family: 'DM Serif Display', serif;
    font-size: 400%;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 12px 0;
}

h2 {
    font-size:120%;
    font-weight:400;
    margin: 0 0 48px 0;
}

h3 {
    font-size:85%;
    margin:0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

.text {
    position:absolute;
    margin:0;
    top:40%;
    width:50%;
}

.button {
    display:block;
    width:fit-content;
    padding:16px 20px 16px 24px;
    border-radius:32px;
    outline: 2px solid #231F20;
    outline-offset: -1px;
    color:#231F20;
}

.button:hover {
    background-color:#231F20;
    color:#f2eadc;
    transition: .25s ease;
}

@keyframes colorize {
    0% {
        opacity:0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

@media only screen and (max-width: 1270px) {
    .gallery h2 {font-size:100%;}
    .gallery p {font-size:70%;}
    .gallery h4 {font-size:60%}
}

@media only screen and (max-width: 1000px) {
    .gallery h2 {font-size:90%;}
    .gallery p {opacity:0;font-size:0;}
    .gallery h4 {opacity:0;font-size:0;}
}

@media only screen and (max-width: 800px) {
    .leftfix {position:relative;width:100%;height:100vw;}
    .left {position:relative;width:80%;margin: 10% auto 10% auto;min-width:300px;height:100vw;}
    .right {margin-left:0;}
    .gallery {position:relative;width:100%;padding:0;margin:auto;}
    .container {height:49%;}
    .gallery h2 {font-size:80%;}
}
