html {
    background: #f2eadc;
    background-image: url("images/landing-02.png");
    height:100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    color: #231F20;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font: 'Montserrat';
    font-weight: 400;
    line-height: 1.65;
    margin:0;
    padding:0;
}

h1 { /*title*/
    font-family: 'DM Serif Display', serif;
    font-size: max(100%,min(400%,20vh));
    font-weight: 400;
    line-height: 1;
    margin: 0 0 12px 0;
}

h2 {
    font-size:120%;
    font-weight:400;
    margin: 0 0 48px 0;
}

h3 {
    font-size:85%;
    margin:0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

.gradient {
    margin:0;
    position:absolute;
    height:100%;
    width:400px;
    background: linear-gradient(90deg, rgba(128,191,190,1) 0%, rgba(192,214,193,0) 65%);
    outline:2px red;
}

.text {
    position:absolute;
    margin:0;
    padding: 5%;
    top: min(45%,40vh);
    width:30%;
    min-width:400px;
    max-width: 55ch;
}

.button {
    display:block;
    width:fit-content;
    padding:16px 20px 16px 24px;
    border-radius:32px;
    background-color: #F2EADD;
    color:#231F20;
}

.button:hover {
    background-color:#231F20;
    color:#F2EADD;
    transition: .25s ease;
}

@keyframes colorize {
    0% {
        opacity:0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}


@media only screen and (max-aspect-ratio:5/3.75) {
    html {background-image: url("images/landing-03.png"); background-position: top;}
    .text {top: 60%;width:90%;max-width:55ch}
}

@media only screen and (max-aspect-ratio:.70) {
    html {background-image: url("images/landing-01.png"); background-position: top;}
    .text {top: 60%;right:0;min-width:0;}
    h1 {font-size:200%;}
    h2 {font-size:100%;}
    .button {padding:12px 15px 12px 18px;}
}

@media only screen and (max-width:450px) {
    html {background-image: url("images/landing-01.png"); background-position: top;}
    .text {top: 60%;right:0;min-width:0;}
    h1 {font-size:200%;}
    h2 {font-size:100%;}
    .button {padding:12px 15px 12px 18px;}
}