html {
    background: black;
    scroll-behavior: smooth;
}

body {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font: 'Montserrat';
    font-weight: 300;
    line-height: 1.25;
}

.section {
    margin: 0 auto;
    max-width: 800px;
    padding: 10em 2em 0em 2em;
}

.nav {
    overflow: hidden;
    background-color: rgba(0,0,0,.75);
    position: fixed;
    top: 0;
    width: 100%;
    margin-top:0em;
    padding:0em;
}

h1 {
    font-weight: 700;
    font-size: 100%;
    margin-bottom: -3.5em;
    letter-spacing: .25em;
}

h1.nav {
    margin-bottom: 0em;
    padding: 2em 2em 1em 2em;
    letter-spacing: 0em;
}

h2 {
    font-size: 100%;
    font-weight: 700;
    margin-top: 5em;
    margin-bottom: 0em;
    color: #FFF;
}

h3 {
    font-size: 75%;
    font-weight: 300;
    margin-top: 0em;
    color: #999999;
}

p {
    font-weight: 300;
    font-size: 100%;
    margin-bottom: 1em;
}

a {
    color: #FFF;
    text-decoration: none;
}

a.blue:hover {
    background-color: #0000FF;
}

a.red:hover {
    background-color: #F15A24;
}

a.cyan:hover {
    background-color: #00A99D;
}

a.yellow:hover {
    background-color: #FBB03B;
}

a.red-link {
    text-decoration: underline;
    text-decoration-color: #F15A24;
}

a.red-link:hover {
    background-color: #F15A24;
}

a.yellow-link {
    text-decoration: underline;
    text-decoration-color: #FBB03B;
}

a.yellow-link:hover {
    background-color: #FBB03B;
}

ul {
    list-style-type: circle;
    font-size: 100%;
    margin-top: 0em;
}

.redsec {
    border-left: 1px solid #F15A24;
    position: left;
    left: 0%;
    margin-top: 0em;
    padding-left: 2em;
}

.cyansec {
    border-left: 1px solid #00A99D;
    position: left;
    left: 0%;
    margin-top: 0em;
    padding-left: 2em;
}

.yellowsec {
    border-left: 1px solid #FBB03B;
    position: left;
    left: 0%;
    margin-top: 0em;
    padding-left: 2em;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    display: block;
    max-width: 100%;
}

.nopadding {
    padding: 15em 2em 0em 2em;
    max-width: 75%;
}

.icon {
    width: 2em;
    float: left;
    padding: .75em;
}

.row {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

@media only screen and (max-width: 600px) {
    h1.menu {
        font-size: 13px;
        margin-bottom: 0em;
        padding: 2em 2em 1em 2em;
        letter-spacing: 0em;
    }
  }