html {
    background: black;
    scroll-behavior: smooth;
}

body {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font: 'Montserrat';
    font-weight: 400;
    line-height: 1.65;
    margin: 0 auto;
    margin-top:2px;
}

h1 { /*page titles*/
    font-size: 100%;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 3px;
    text-align: right;
}

h2 { /*gallery titles*/
    font-size: 120%;
    font-weight: 700;
    line-height:1.15;
    margin:0 0 4% 0;
}

h3 { /*date and media*/
    color: #FFF;
    font-size: 60%;
    font-weight: 400;
    line-height: 1.5;
    margin:0 0 12% 0;
    letter-spacing: 1px;
}

h4 { /*tags*/
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
    font: 'Montserrat';
    font-weight: 400;
    margin-top:1em;
    font-style: italic;
}

h5 { /*see more*/
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 60%;
    font: 'Montserrat';
    font-weight: 700;
    line-height: 1;
    margin-top:1em;
    letter-spacing: 2px;
}

h6 { /*end*/
    color: #7F7F7F;
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
    font: 'Montserrat';
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 20%;
    text-align:center;
}

p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
    font: 'Montserrat';
    font-weight: 400;
}

p span {
    color:#FBB03B;
}

img {
    display:block;
    max-width:100%;
}

h1 a {
    text-decoration: none;
    color:inherit;
}

.blue {z-index:3}
.blue a:hover {transition: .5s ease;color:#0000FF;}
.yellow a:hover {transition: .5s ease;color:#FBB03B;}
.red a:hover {transition: .5s ease;color:#F15A24;}
.cyan a:hover {transition: .5s ease;color:#00A99D;}

h2:hover {
    width:fit-content;
    transition: .5s ease;
    background: rgba(255,255,255,.25);
}

h5 a {
    color: inherit;
    text-decoration-color: #0000FF;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

h5 a:hover {
    transition: .25s ease;
    color: #FFF;
    background: rgba(0,0,255,1);
}

.leftfix {
    position:fixed;
    width:100%;
    z-index:10000;
}

.leftbox {
    position:relative;
    max-width:2000px;
    margin: 0 auto 0 auto;
}

.left { /*left column*/
    position: absolute;
    top:0;
    left:0;
    width:47.5%;
}

.right { /*right column*/
    box-sizing: border-box;
    max-width:2000px;
    margin: 0 auto 0 auto;
    z-index:-1000;
}

.gallery {
    margin-left:auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    animation: colorize 2s ease-in-out;
    justify-content: center;
}

.container {
    position:relative;
    background:black;
    width:49%;
    height:49%;
    box-sizing: border-box;
    object-fit:cover;
}
  
/* Make the image to responsive */
.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
  
/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:50;
    width: 100%;
    transition: .5s ease;
    background-color: rgba(0,0,0,.95);
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 18%;
    text-align: left;
    justify-content:center;
    z-index:1;
    box-sizing: border-box;
}

.container:hover .overlay {
    opacity:1;
}

.row {
    display:flex;
    justify-content: center;
}

.row > * {
    width:33%;
    max-width:40px;
    margin:10px;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,.15);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.3);
    border-radius: 6px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FFF;
}

@keyframes colorize {
    0% {
        opacity:0;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

@media only screen and (max-width: 1270px) {
    .gallery h2 {font-size:100%;}
    .gallery p {font-size:70%;}
    .gallery h4 {font-size:60%}
}

@media only screen and (max-width: 1000px) {
    .gallery h2 {font-size:90%;}
    .gallery p {opacity:0;font-size:0;}
    .gallery h4 {opacity:0;font-size:0;}
}

@media only screen and (max-width: 800px) {
    .leftfix {position:relative;width:100%;height:100vw;}
    .left {position:relative;width:80%;margin: 10% auto 10% auto;min-width:300px;height:100vw;}
    .right {margin-left:0;}
    .gallery {position:relative;width:100%;padding:0;margin:auto;}
    .container {height:49%;}
    .gallery h2 {font-size:80%;}
}
