:root {
    --bg: #131313;
    --accent: #ff5500;
    --light: #ffcc00;
    --text: #dbdbdb;
    --dark: #353535;
    --title: "Syne";
    --body: 'Syne';
}

html {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body), sans-serif;
    color: var(--text);
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-optical-sizing: auto;
    animation-delay: .5s;
    animation: fade 2s ease-in-out;
}

h1 { /*title*/
    font-family: var(--title), var(--body), sans-serif;
    color: var(--text);
    font-size: 5rem;
    line-height: 5rem;
    margin: 0 0 .75rem 0;
    max-width: 12ch;
    font-weight: 700;
}

h2 { /*subtitle*/
    font-family: var(--title), var(--body), sans-serif;
    font-size: 1.25rem;
    color: var(--text);
    margin: 0 0 0.2rem 0;
    line-height: 2rem;
    font-weight: 300;
}

h3 { /*project info*/
    font-family: var(--body), sans-serif;
    color: var(--accent);
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    letter-spacing: .05rem;
}

h4 { /*section titles*/
    font-family: var(--title), var(--body), sans-serif;
    font-size: 2rem;
    color: var(--text);
    margin: 2rem 0 0 0;
    line-height: 2rem;
}

h5 { /*section subtitles*/
    font-family: var(--body), sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

h6 {/*FOOTER*/ 
    font-family: var(--body), sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

p {
    font-family: var(--body), sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 300;
    color: var(--text);
}

a {
    transition: .25s ease;
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    transition: .25s ease;
    color: var(--light);
}

span {
    font-family: var(--title), var(--body), sans-serif;
    font-weight: 700;
}

h2 span {
    font-size: 1rem;
    color: var(--accent);
    text-transform: uppercase;
}

ul {list-style: none;}
li p {margin: 0;}
ol li {padding-left:1rem;}

img {
    display: block;
    width: 100%;
    max-width: min(1400px,90%);
    margin: 0 auto 0 auto;
    padding: 0;
}

video {
    display: block;
    width: 100%;
    max-width: 1600px;
    max-height: 90vh;
    margin: 0 auto 0 auto;
    padding: 0;
}

.text { /*margins*/
    width: 90%;
    max-width: 750px;
    margin: 0 auto 0 auto;
    padding: 2rem 0 2rem 0;
    box-sizing: border-box;
}

.line { /*divider line*/
    display: block;
    width: 4rem;
    background-color: var(--accent);
    height: 2px;
    margin: 4rem 0 0 0;
}

.boxes { /*flex with two equal columns*/
    width: 100%;
    max-width: min(1400px,90%);
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.boxes > * {
    box-sizing: border-box;
    width: calc(50% - 2px);
    margin-bottom: 2px;
}

.box3 { /*makes three equal columns*/
    box-sizing: border-box;
    width: calc(33.333333% - 2px);
    margin-bottom: 2px;
}

.box4 { /*makes four equal columns*/
    box-sizing: border-box;
    width: calc(25% - 2px);
    margin-bottom: 2px;
}

.scroller {
    transition: .25s ease;
    display: block;
    position: sticky;
    top: calc(100vh - 6rem);
    margin: -2rem 2rem -2rem auto;
    width: 4rem;
    height: 4rem;
    border: var(--dark) 2px solid;
    background-color: var(--dark);
    border-radius: 4rem;
    color: var(--bg);
    text-align: center;
    justify-content: center;
}

.scroller:hover {
    transition: .25s ease;
    /**border: var(--dark) 2px solid;**/
    background-color: var(--bg);
}

.scroller p {
    line-height:0;
    font-size:2rem;
    padding:0;
}

.home { /**/
    position: fixed;
    top: 2rem;
    left: calc(calc(100% - min(90%, 750px)) / 2);
    width: 80px;
    height: 80px;
    background-color: var(--accent);
    mask-image: url(https://www.cordeliart.com/images/home.svg);
    mask-mode: alpha;
    z-index: 100;
}

.button {
    display: relative;
    background-color: var(--text);
    color: var(--bg);
    border-radius: 16px;
    width: fit-content;
    padding: 12px 18px 12px 18px;
    margin: 2rem 0 4rem 0;
    transition: .25s ease;
}

.button:hover {
    transition: .25s ease;
    background-color: var(--accent);
}

.button p {
    margin: 0;
    color: var(--bg);
}

.next {
    width: 100%;
    margin: 7rem 0 0 0;
    background-image: var(--image);
    background-size: cover;
    background-position: center;
    color: var(--bg);
    padding: 2rem 0 2rem 0;
    text-align: left;
    box-sizing: border-box;
}

.next h2 {
    color:var(--bg);
    font-weight:700;
}

.next p {
    color: var(--bg);
    font-weight:400;
}

.next a {
    color: inherit;
}

.next a:hover {
    color: var(--accent);
}

.footer {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: left;
    margin: 6rem 0 1rem 0;
    box-sizing: border-box;
}

.footer > * {
    padding-right: 4rem;
}

@keyframes fade {
    0% {opacity:0%;}
    100% {opacity:100%;}
}

::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: var(--dark);}
::-webkit-scrollbar-thumb {background: var(--accent); border-radius: 4px;}
::-webkit-scrollbar-thumb:hover {background: var(--light);}

@media only screen and (max-width: 1000px) {
    body {margin:0;}
    h1 {
        letter-spacing: normal;
    }
    .title {
        flex-flow:column;
        align-items: flex-start;
        justify-content: baseline;
        gap: 0;
    }
    .boxes {width: 90%; max-width: 750px;}
    .boxes > * {width: 100%; max-width: 750px;padding:0 0 2px 0;}
    .boxes > img {max-width: 600px;margin:auto;}
    .next h2 {max-width:20ch;}
    .footer {margin-top:2rem;}
}

@media only screen and (max-width:700px) {
    .text{
        margin: 0 2rem 0 2rem;
        width: auto;
    }
    .boxes {
        margin: 0 2rem 0 2rem;
        padding: 0;
        width: auto;
        max-width: 100%;
    }
    .boxes div {
        margin: 0;
        padding: 0;
    }
    .footer > *:first-child {width: 100%;padding-bottom:1rem;}
}

@media only screen and (max-width: 500px) {
    h1 {font-size: 3rem;line-height:3.5rem;}
    h2 {font-size: 1.1rem;}
    img {max-width: 90%;}
    .scroller {display: none;}
    .next h2 {width:100%;max-width:100%;}
}