:root {
    --body: rgb(210, 211, 212);
    --accent: rgb(200,255,30);
    --bg: rgb(0,0,30);
    /* --fade: rgb(69, 15, 156); */
    --fade: rgba(9, 2, 45, 0.8);
}

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--bg);
    color: var(--body);
    font-family: 'Golos Text', sans serif; /*400 to 900*/
    font-weight: 300;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--accent);
    max-width: 10ch;
    line-height: 2.1rem;
    margin-bottom: 0.35rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0 0 0;
}

h3 {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 4rem;
    opacity: 65%;
}

h4 {
    font-size: 8rem;
    font-weight: 400;
    line-height: 8rem;
    margin: 0 0 4rem 0;
}

h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 4rem 0 2rem 0;
    letter-spacing: 4px;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
    max-width: 80ch;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .5s ease;
}

a:hover {
    color: var(--accent);
    transition: .5s ease;
    opacity: 100%;
}

.active::before {
    content: "››› ";
    color: var(--accent);
    margin-left: -.7rem;
}

.left {
    position: absolute;
    left: 0;
    right: calc(100vw - calc(max(340px,25vw) + 6rem));
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    transition: .5s ease;
}

.left.close {
    left: -600px;
    right: calc(100vw - 6rem);
    transition: .5s ease;
}

.toggle {
    display: block;
    background-color: var(--accent);
    width: 4rem;
    height: 8rem;
    margin-top: 8rem;
    color: var(--bg);
    content: ">";
    z-index: 100;
    clip-path: polygon(0px 0px, 0 2rem, 4rem 2rem, 4rem 6rem, 0rem 6rem, 0rem 6rem);
}

.nav {
    box-sizing: border-box;
    background-color: var(--fade);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: end;
    align-items: center;
    padding: 0 3.7rem 5vh 3.6rem;
    overflow: hidden;
    transition: .5s ease;
}

.right {
    margin: 0 0 0 max(340px,35vw);
    padding: 20vh 3.7rem 10vh 3.7rem;
    width: auto;
    max-width: 1200px;
    transition: .5s ease;
}

.right.close {
    margin: 0 auto 0 auto;
    width: 100%;
    transition: .5s ease;
}

#big {
    z-index: -10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

/*@ 700px switch nav*/