@font-face {
    font-family: "Host Grotesk";
    src: url("HostGrotesk-VariableFont_wght.ttf");
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Rubik Pixels";
    src: url("RubikPixels-Regular.ttf");
    font-style: normal;
    font-display: block;
}

:root {
    --background: #000;
    --text: #fff;
    --accent: #DCFF5E;
    --display: "Rubik Pixels", sans-serif;
    --body:  "Host Grotesk", Helvetica, Arial, sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--body);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Rubik Pixels", sans-serif;
    font-size: max(min(25vw,30vh), 5rem);
    font-weight: 400;
    letter-spacing: -.25rem;
    margin: 0;
    padding: 0;
    line-height: max(min(20vw,24vh), 4rem);
    color: var(--accent);
    font-display: block;
}

h2 {
    font-size: 1.15rem;
    font-weight: 1000;
    text-transform: uppercase;
}

p {
    font-size: 1.15rem;
}

.centered {
    width: fit-content;
    margin: 0 auto 0 auto;
}

.button {
    width: fit-content;
    margin: 3rem auto 0 auto;
    padding: 0 1rem 0 1rem;
    border: 1px solid var(--text);
    transition: .3s ease;
}

.button:hover {
    color: var(--background);
    background-color: var(--accent);
    border-color: var(--accent);
    transition: .3s ease;
}