:root {
    /* colors */
    --bg: #031822;
    --text: #faf0ca;
    --accent: #fa8d26;
    --blue: #00d4b4;
    --container: 400px;
}

html {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    overflow: hidden;
}

img {
    justify-content: center;
    align-content: center;
}

body {
    font-family: "caraque-melted", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--bg);
}

h1 {
    font-family: "walnut", sans-serif;
    font-size: 6rem;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
    line-height: 5rem;
    position: fixed;
    top: -2rem;
    left: 2rem;
    z-index: 10;
    transform:rotate(-10deg);
}

p {font-size: 1.5rem;}

/* EMAILING */

input {
    /* only used in sender */
    font-family: "caraque-melted", sans-serif;
    font-size: 1.5rem;
    border: none;
    background-color: var(--bg);
    border-bottom: solid 2px var(--text);
    width: 80%;
    color: var(--text);
    padding: 0.5rem;
}

#capture {
    /* div that gets captured (screenshot) */
    /* background-color: var(--bg);
    background-image: url('bg.png'); */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: visible;
}

.camera {
    /* button to take sreenshot and open sender */
    background-image: url('button.png');
    opacity: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    position: absolute;
    bottom: 0vh;
    right: 4vh;
    z-index: 10000;
    transition: 0.5s ease;
}

.hidden {
    opacity: 0%;
    transition: 0.5s ease;
}

.sender {
    /* emailing div */
    display: none;
    position: fixed;
    top: 30vh;
    bottom: 30vh;
    left: 65vw;
    width: 600px;
    opacity: 0%;
    z-index: 100;
    transition: 0.5s ease;
}

.sending {
    /* make send div visible */
    opacity: 100%;
    transition: 0.5s ease;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
}

#sendConfirm {
    /* send email button */
    background-image: url('send.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    z-index:100000;
}

/* CUSTOMIZATION SECTIONS */

.faceselect, .headselect, .shirtselect, .pantsselect {
    position: absolute;
    left: 10vh;
    width: 40vh;
    height: 40vh;
    z-index: 10000;
}

.face, .head, .shirt, .pants {
    position: absolute;
    left: calc(50vw - 30vh);
    width: 60vh;
    margin: 0 auto 0 auto;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transition: 0.5s ease;
}

.face {top: 16vh;}
.head {top: 7vh;}
.shirt {top: 28vh;}
.pants {top: 50vh;}

/* SLIDE OVER */

.bg {
    /* bg image (separate for zooming) */
    height:110vh;
    width:auto;
    position:absolute;
    left:0;
    top:-5vh;
    right: -40vw;
    bottom: -5vh;
    background-image: url('bg.png');
    background-size: cover;
    background-position: left;
    transition: 0.5s ease;
}

.mover {
    /* div that zooms in and out and moves sideways */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s ease;
}

.moveover {
    /* mover moved */
    left: -15vw;
    transition: 0.5s ease;
}

/* SPLIDE STUFF */

.splide {
    width: 100vw;
    visibility: visible;
    overflow-y: visible;
    transition: 0.5s ease;
}
.splide__slide {
    display: block;
    width: var(--container);
    text-align: center;
}
.splide__slide img {
    width: var(--container);
    background-color: none;
    transition: 0.5s ease;
}

/* VISIBILITY, SCALING, ZOOM */

.exit {
    /* back button on zoom-in */
    position: fixed;
    left: 48px;
    bottom: 48px;
    width: fit-content;
    height: 2rem;
    opacity: 0%;
    transition: 0.5s ease;
    z-index: 10000000000000;
    background-image: url('exit.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-size:2rem;
    color:var(--blue);
}

.open {
    opacity: 100%;
    overflow: visible;
    transition: 0.5s ease;
    z-index: auto;
}

.exit .open {
    opacity: 100%;
    transition: 0.5s ease;
}

.exiter1, .exiter2 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background: none;
    z-index: 100000000;
}

.scaler {
    width: 600px !important;
    transition: 0.5s ease;
}